---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import SectionProblem from "../components/SectionProblem.astro";
import SectionBridge from "../components/SectionBridge.astro";
import SectionTeam from "../components/SectionTeam.astro";
import SectionPricing from "../components/SectionPricing.astro";
import SectionFounding from "../components/SectionFounding.astro";
import SectionContact from "../components/SectionContact.astro";
import Footer from "../components/Footer.astro";

const businessSchema = {
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "@id": "https://connexus.cz/#connexus",
  name: "Connexus",
  description:
    "Premium webové stránky pro pojišťovací poradce, makléře a bankéře v Česku.",
  url: "https://connexus.cz",
  telephone: "+420 774 563 739",
  email: "jakub@connexus.cz",
  founder: {
    "@type": "Person",
    name: "Jakub Barák",
  },
  address: {
    "@type": "PostalAddress",
    addressLocality: "Děčín",
    addressCountry: "CZ",
  },
  areaServed: {
    "@type": "Country",
    name: "Česká republika",
  },
  priceRange: "$$$",
};
---

<Layout>
  <Fragment slot="head">
    <script
      type="application/ld+json"
      is:inline
      set:html={JSON.stringify(businessSchema)}
    />
  </Fragment>

  <Nav />
  <main>
    <Hero />
    <SectionProblem />
    <SectionBridge />
    <SectionTeam />
    <SectionPricing />
    <SectionFounding />
    <SectionContact />
  </main>
  <Footer />
</Layout>
