---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import SectionProblem from "../components/SectionProblem.astro";
import SectionApproach from "../components/SectionApproach.astro";
import SectionWork from "../components/SectionWork.astro";
import SectionAbout from "../components/SectionAbout.astro";
import SectionPricing from "../components/SectionPricing.astro";
import SectionContact from "../components/SectionContact.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <SectionProblem />
    <SectionApproach />
    <SectionWork />
    <SectionAbout />
    <SectionPricing />
    <SectionContact />
  </main>
  <Footer />
</Layout>
