---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import SectionProblem from "../components/SectionProblem.astro";
import SectionServices from "../components/SectionServices.astro";
import SectionProcessTeaser from "../components/SectionProcessTeaser.astro";
import SectionTeam from "../components/SectionTeam.astro";
import SectionContact from "../components/SectionContact.astro";
import Footer from "../components/Footer.astro";

const businessSchema = {
  "@context": "https://schema.org",
  "@type": "LocalBusiness",
  "@id": "https://connexus.cz/#connexus",
  name: "Connexus",
  description:
    "Vlastní weby, SEO a péče po spuštění. Pro solo podnikatele a malá studia v Česku. Stavím je osobně.",
  url: "https://connexus.cz",
  telephone: "+420 774 563 739",
  email: "jakub@connexus.cz",
  founder: {
    "@type": "Person",
    name: "Jakub Barák",
  },
  taxID: "24995606",
  address: {
    "@type": "PostalAddress",
    addressLocality: "Děčín",
    addressCountry: "CZ",
  },
  areaServed: {
    "@type": "Country",
    name: "Česká republika",
  },
};
---

<Layout>
  <Fragment slot="head">
    <script
      type="application/ld+json"
      is:inline
      set:html={JSON.stringify(businessSchema)}
    />
  </Fragment>

  <Nav />
  <main id="main">
    <Hero />
    <SectionProblem />
    <SectionServices />
    <SectionProcessTeaser />
    <SectionTeam />
    <SectionContact />
  </main>
  <Footer />
</Layout>
